/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; min-width: 1350px; }
body                            { padding:0; margin:0; font:12px 'Roboto Slab', serif; background: url("../images/bg.jpg") no-repeat top center #fff; color:#fff; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font:12px 'Roboto Slab', serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Roboto Slab', serif; color:#fff; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;

    font-family: 'Ubuntu', sans-serif;

}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
	width: 1350px;
	margin: 0 auto;
}
.wrapper {
    min-height: 100%;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    text-align: center;
}
    .logo,
    a.logo {
        float: left;
        margin: 115px 0 0 180px;
    }

    .btn-connect {
        float: right;
        height: 49px;
        padding-left: 50px;
        border: none;
        font: 18px 'PT Serif', serif;
        background: url("../images/icon_conect.png") no-repeat;
        color: #fff;
        text-align: left;
    }
    .header .center {
        display: inline-block;
        width: 375px;
        text-align: right;
    }
        .icon-bag,
        .icon-man {
            float: left;
            width: 58px;
            height: 58px;
            background: no-repeat center;
            text-indent: -9999px;
            text-align: left;
        }
        .icon-bag {
            background-image: url("../images/bag.png");
            background-color: #0076b3;
        }
        .icon-man {
            background-image: url("../images/man.png");
            background-color: #81b3e1;
        }
        .tell,
        .tell a {
            font-family: 'PT Serif', serif;
        }
        .tell {
            float: right;
            margin-top: 30px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .tell a {
            display: block;
            font-size: 26px;
            font-weight: bold;
            text-decoration: none;
        }
            .tell span {
                font-weight: 400;
            }
    .header h1 {
        width: 600px;
        margin: 40px 0 0 520px;
        text-align: left;
        font-size: 60px;
        font-weight: 400;
        line-height: 1;
    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    height: 70px;
    margin-top: -70px;
    color: #000;
    font: 14px 'PT Serif', serif;
}
    .list-soc-links {
        overflow: hidden;
        float: right;
        margin-top: 10px;
    }
        .list-soc-links li {
            float: left;
            height: 32px;
            margin-left: 4px;
            border: 3px solid #ffffff;
            text-indent: -9999px;
            background: #fff no-repeat url("../images/soc_links.png");
            transition: .3s;

            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .list-soc-links li:hover {
            opacity: .8;
        }
        .list-soc-links .google {
            background-position-x: -42px;
        }
        .list-soc-links .twitter {
            background-position-x: -84px;
        }
        .list-soc-links .soc {
            background-position-x: -126px;
        }
            .list-soc-links a {
                display: block;
                width: 32px;
                height: 32px;

                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/