/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; min-width: 1353px; }
body                            { padding:0; margin:0; font:12px 'Roboto Slab', serif; background: url("../images/bg.jpg") no-repeat top center #fff; color:#fff; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; }
select, input, textarea        { font:12px 'Roboto Slab', serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px 'Roboto Slab', serif; color:#fff; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

.box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.container {
	width: 1353px;
	margin: 0 auto;
}
.wrapper {
    min-height: 100%;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 70px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    text-align: center;
}
    .logo,
    a.logo {
        float: left;
        margin: 115px 0 0 180px;
    }

    .btn-connect {
        float: right;
        margin-top: 7px;
        padding: 0;
        border: none;
        font: 18px 'PT Serif', serif;
        background: none;
        color: #fff;
        text-align: left;
    }
        .btn-connect:before {
            content: '';
            display: inline-block;
            height: 78px;
            width: 78px;
            vertical-align: middle;
            background: url("../images/icon_conect.png") #d54323 center no-repeat;

            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
        }
        .btn-connect span {
            display: inline-block;
            margin-left: 15px;
            vertical-align: middle;
        }
    .header .center {
        display: inline-block;
        width: 375px;
        text-align: right;
    }
        .icon-bag,
        .icon-man {
            float: left;
            width: 58px;
            height: 58px;
            background: no-repeat center;
            text-indent: -9999px;
            text-align: left;
        }
        .icon-bag {
            background-image: url("../images/bag.png");
            background-color: #0076b3;
        }
        .icon-man {
            background-image: url("../images/man.png");
            background-color: #81b3e1;
        }
        .tell,
        .tell a {
            font-family: 'PT Serif', serif;
        }
        .tell {
            float: right;
            margin-top: 30px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .tell a {
            display: block;
            font-size: 26px;
            font-weight: bold;
            text-decoration: none;
        }
            .tell span {
                font-weight: 400;
            }
    .header h1 {
        width: 600px;
        margin: 40px 0 35px 520px;
        text-align: left;
        font-size: 60px;
        font-weight: 400;
        line-height: 1;
    }
    .nav {
        overflow: hidden;
        margin-bottom: 30px;
    }
        .nav li {
            float: left;
            width: 183px;
            height: 103px;
            margin-left: 12px;
            background: url("../images/nav_icons.png") no-repeat #dd5535;
            transition: .3s;
        }
        .nav li:first-child {
            margin-left: 0;
        }
        .nav li:hover {
            background-color: #bc492e;
        }
        .nav .about-company {
            background-position: 77px 15px;
        }
        .nav .service {
            background-position: -120px 17px;
        }
        .nav .owner{
            background-position: -315px 17px;
        }
        .nav .franch {
            background-position: -507px 17px;
        }
        .nav .partners {
            background-position: -706px 17px;
        }
        .nav .operators {
            background-position: -900px 17px;
        }
        .nav .contact {
            background-position: -1095px 17px;
        }
            .nav a {
                overflow: hidden;
                display: block;
                width: 100%;
                height: 100%;
                font-size: 16px;
                text-decoration: none;
            }

                .nav span {
                    display: table-cell;
                    height: 45px;
                    width: 183px;
                    padding-top: 50px;
                    vertical-align: middle;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    overflow: hidden;
    text-align: center;
}
    .left-block {
        overflow: hidden;
        float: left;
        width: 768px;
    }
        .left-block li {
            float: left;
            width: 248px;
            height: 259px;
            margin: 0 12px 0 0;
        }
        .left-block li:nth-child(3n) {
            margin-right: 0;
        }
            .left-block a,
            .center-block a {
                display: block;
            }
            .left-block a:hover,
            .center-block a:hover {
                opacity: .9;
            }
                .left-block img,
                .center-block img {
                    margin-bottom: 11px;
                }
    .list-service {
        float: right;
    }
        .list-service li {
            width: 250px;
            height: 120px;
            margin-bottom: 10px;
            text-align: center;
            font: 16px 'Ubuntu', sans-serif;
        }
        .list-service .first {
            background: url("../images/bg_block1.jpg") #e4410f repeat-x;
            background-size: 100%;
        }
        .list-service .second {
            background: url("../images/bg_block2.jpg") #29a600 repeat-x;
            background-size: 100%;
        }
        .list-service .third {
            background: url("../images/bg_block3.jpg") #1492a6 repeat-x;
            background-size: 100%;
        }
        .list-service .fourth {
            background: url("../images/bg_block4.jpg") #f59a2f repeat-x;
            background-size: 100%;
        }
            .list-service .text {
                display: table-cell;
                height: 40px;
                width: 250px;
                padding-top: 70px;
                font-weight: 300;
            }
    .center-block {
        display: inline-block;
    }
        .center-block li {
            height: 259px;
            width: 248px;
        }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    height: 70px;
    margin-top: -70px;
    color: #000;
    font: 14px 'PT Serif', serif;
}
    .list-soc-links {
        overflow: hidden;
        float: right;
        margin-top: 10px;
    }
        .list-soc-links li {
            float: left;
            height: 32px;
            margin-left: 4px;
            border: 3px solid #ffffff;
            text-indent: -9999px;
            background: #fff no-repeat url("../images/soc_links.png");
            transition: .3s;

            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .list-soc-links li:hover {
            opacity: .8;
        }
        .list-soc-links .google {
            background-position-x: -42px;
        }
        .list-soc-links .twitter {
            background-position-x: -84px;
        }
        .list-soc-links .soc {
            background-position-x: -126px;
        }
            .list-soc-links a {
                display: block;
                width: 32px;
                height: 32px;

                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media screen and (min-width: 1900px) {
    body {
        background-size: 100% 100%;
    }
}